<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<integer>9875</integer>
	<integer>5687</integer>
	<integer>14015</integer>
	<integer>11234</integer>
	<integer>5001</integer>
	<integer>6089</integer>
	<integer>8759</integer>
	<integer>9823</integer>
	<integer>11023</integer>
	<integer>6879</integer>
	<integer>9384</integer>
	<integer>10948</integer>
	<integer>12839</integer>
	<integer>10540</integer>
	<integer>7689</integer>
	<integer>12088</integer>
	<integer>4058</integer>
	<integer>8974</integer>
	<integer>12839</integer>
	<integer>8947</integer>
	<integer>11283</integer>
	<integer>9875</integer>
	<integer>4958</integer>
	<integer>10485</integer>
	<integer>6857</integer>
	<integer>9948</integer>
	<integer>12384</integer>
	<integer>14038</integer>
	<integer>15839</integer>
	<integer>6897</integer>
	<integer>5849</integer>
</array>
</plist>
